Repository Creatrix-Net/yondaime-hokage, pull requests merged in 2022-10, with the labels that each got.

#725 Trying to fix `aboutanime`
  minato_namikaze/cogs/anime_and_vocaloids/anime_and_waifu.py
Labels: bug, hacktoberfest-accepted, contributors

#727 some major updates required
  Pipfile
  Pipfile.lock
  launcher.py
  minato_namikaze/cogs/moderation/raid.py
  minato_namikaze/cogs/reminder.py
  minato_namikaze/discordbot.py
Labels: enhancement

#728 added pipenv actions
  .github/workflows/lint.yml
Labels: enhancement

#729 fixes .yml error
  .github/workflows/lint.yml
Labels: bug, enhancement

#730 changes in yml
  .github/workflows/lint.yml
Labels: enhancement

#731 some changes
  .github/workflows/lint.yml
Labels: bug
